*{
    font-family: sans-serif;
    text-align: justify;
}

article{
    display: flex;
    flex-wrap: wrap;
}

/* Ejemplo 1*/

p.p1 {
    width: 200px;
    border: 2px black solid;
    margin: 10px;
    padding: 5px;
}


/* 1-2*/

article.uno-dos{
    justify-content: space-around;
}

/* 1-3*/

article.uno-tres{
    align-items: center;
}

/* EJEMPLOS 2*/
/* 2-1 */

.dos-uno div {
    width: 200px;
    border: 2px black solid;
    margin: 10px;
}

.dos-uno h2{
    margin: 0px;
    padding: 5px 0px;
    text-align: center;
    background-color: lightgray;
}

.dos-uno p{
    margin: 0px;
    padding: 5px;
}

/* 2-2 */

article.dos-dos{
    align-items: center;
}
.dos-dos div{
    width: 200px;
    border: 2px black solid;
    margin: 10px;
}

.dos-dos h2{
    margin: 0px;
    padding: 5px 0px;
    text-align: center;
    background-color: lightgray;
    border-bottom: 2px black solid;
}

/* 2-3*/

.dos-tres div{
    display: inline-flex;
    width: 250px;
    border: 2px solid black;
    margin: 10px;
}

.dos-tres p{
    padding: 5px;
    margin: 0px;
}
p.icono{
    font-size: 4em;
}

/* 2-4*/

article.dos-cuatro{
    align-items: center;
}
.dos-cuatro div{
    display: inline-flex;
    width: 250px;
    border: 2px solid black;
    margin: 10px;
}

.dos-cuatro p{
    padding: 5px;
    margin: 0px;
    background-color: lightgray;
}
p.icono{
    font-size: 4em;
    background-color: white;
    border-right: 2px black solid;
}

/* 2-5*/

.dos-cinco div{
    display: inline-flex;
    width: 250px;
    border: 2px solid black;
    margin: 10px;
    background-color: lightgray;
}

.dos-cinco h2{
    padding: 5px;
    margin: 0px;
    background-color: lightgray;
    text-align: center;
    align-self: center;
    flex-grow: 1;
}
p.icono{
    font-size: 4em;
    background-color: white;
    border-right: 2px black solid;
    padding: 5px;
    margin: 0px;
}

/* 3-1 */

.tres-uno div{
    width: 200px;
    border: 2px solid black;
    margin: 10px;
}
 .tres-uno h2{
     background-color: lightgray;
     text-align: center;
     padding: 5px;
     margin: 0em;
 }

 .tres-uno p{
     text-align: justify;
     margin: 0;
     padding: 5px;
 }

 p.icono3-1{
     text-align: center;
     font-size: 5em;
 }

 /* 3-2 */

 div.tres-dos{
     width: 300px;
     border: 2px solid black;
     display: inline-flex;
     margin: 10px;
 }
p.icono3-2{
    font-size: 6em;
    margin: 0;
    padding: 5px;
    align-self: center;
}
div.tres-2{
    border-left: 2px black solid;
}

.tres-2 h2{
    margin: 0;
    padding: 5px;
    background-color: lightgray;
    text-align: center;
    
}

.tres-2 p{
    margin: 0;
    padding: 5px;
}

/* 3-3*/
div.tres-tres{
    width: 300px;
    border: 2px solid black;
    display: inline-flex;
    margin: 10px;
    flex-direction: column;
}

div.tres-3{
    display: flex;
    background-color: lightgray;
}

p.icono3-3{
    font-size: 4em;
    border-bottom: black 2px solid;
    border-right: black solid 2px;
    border-bottom-right-radius: 10px;
    text-align: center;
    margin: 0;
    padding: 5px;
}

.tres-3 h2{
    align-self: center;
    align-content: center;
}

.tres-tres p{
    margin: 0;
    padding: 5px;
}