body{
    font-family: sans-serif;
    text-align: justify;
}

/* EJEMPLO 1 */

article.ejemplo1{
    display: flex;
    flex-wrap: wrap;
}

.ejemplo1 p{
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

/* EJEMPLO 2 */

article.ejemplo2{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}

.ejemplo2 p{
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

/* EJEMPLO 3 */

article.ejemplo3{
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
}

.ejemplo3 p{
    width: 200px;
    margin: 10px;
    border: 2px solid black;
    padding: 5px;
}

/* EJEMPLO 4 */

article.ejemplo4{
    display: flex;
    flex-wrap: wrap;
}

.ejemplo4 h2{
    background-color: #D3D3D3;
    margin: 0px;
    text-align: center;
    padding: 5px;
}

.ejemplo4 p{
    margin: 0;
    padding: 5px;
}

.ejemplo4 div{
    width: 200px;
    border: 2px black solid;
    margin: 10px;
}

/* EJEMPLO 5 */

article.ejemplo5{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.ejemplo5 h2{
    background-color: #D3D3D3;
    margin: 0px;
    text-align: center;
    padding: 5px;
    border-bottom: 2px black solid;
}

.ejemplo5 p{
    margin: 0;
    padding: 5px;
}

.ejemplo5 div{
    width: 200px;
    border: 2px black solid;
    margin: 10px;
}

/* EJEMPLO 6 */

article.ejemplo6{
    display: flex;
    flex-wrap: wrap;
}

.ejemplo6 div{
    display: inline-flex;
    width: 250px;
    border: 2px black solid;
    margin: 10px;
}